[Container]
Image=docker.io/library/caddy:2
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage
PublishPort=8443:443
Volume=/usr/local/share/proxy:/etc/caddy

[Unit]
Description=Caddy reverse proxy

[Install]
WantedBy=default.target

[Service]
Restart=always

